{% extends 'Front/base.html.twig' %}

{% block title %}Signez vos contrats
{% endblock %}


{% block body %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

        <div style="display: flex; justify-content: center;">
    {{form_start(form,{'attr' :{'novalidate':'novalidate'}})}}
    {{ form_end(form) }}
       </div>
        {% endblock %}
