<!DOCTYPE html>

<title>New Recrutements</title>

{% block body %}
    <h1>Create new Recrutements</h1>

    {{ include('recrutements/_form.html.twig') }}

    <a href="{{ path('app_recrutements_index') }}">back to list</a>
{% endblock %}
